<DOCTYPE html PUBLIC "en">
<html>
<head>
    <title>Bus Tracker</title>

    <link rel="stylesheet" href="/css/tracker_style.css">
    <link rel="stylesheet" href="/css/map_style.css">
    <link rel="stylesheet" href="/css/tab_style.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<script src="/scripts/tab_script.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    
<!--This script will be modified to update the json based on the database once there is route editing-->
<script>
        $(document).ready(function(){
        $("#button").click(function(){
            $.post("http://localhost:3000/updateJson",function(){
            });
        });
    });
</script>
<script>
       $(document).ready(function(){
        $("#button").click(function(){
            $.post("http://localhost:3000/deleteRow",function(){
            });
        });
    }); 
</script>
<script>
       $(document).ready(function(){
        $("#button").click(function(){
            $.post("http://localhost:3000/insertRow",function(){
            });
        });
    }); 
</script>
    
</head>

<body onload="makeTab();">

    <div class="page-title">
        <h1>Bus Tracking System</h1>
    </div>
    <div class="page-content">
        <div class="side-bar">
            <div class="tab-title"><p>Favorites</p>
                <div class="tab">
                    <input id="tab-one" type="checkbox" name="tabs">
                    <label for="tab-one">Bus #4</label>
                    <div class="tab-content">
                        <p>ETA... 5 minutes</p>
                    </div>
                </div>
            </div>
            <div class="tab-title"><p>All Routes</p>

                <div class="tab">
                    <input id="tab-ten" type="checkbox" name="tabs">
                    <label for="tab-ten">Bus #8</label>
                    <div class="tab-content">
                        <p>ETA...50min</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div id="mapid"></div>
            <script type="text/javascript" src="/scripts/map.js"></script>
        </div>
    </div>


</body>
</html>
