body{
    font-family: Arial,Times,serif;
    color: black;
    background-color: white;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
.page-title{
    background-color: #163466;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1010px;
    height: 140px;
}
h1{
    text-align: center;
    color: #87bcb8;
    font-size: 40px;
    font-family: Arial, sans-serif;
    font: Arial;
}

.side-bar{
    margin-top: 140px;
    width: 300;
    height: auto;
    background: gray;
}
/*Start Tab formatting*/

.tab{
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: black;
    overflow: hidden;
}
input{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
label{
    position: relative;
    display: block;
    padding: 0,0,0,1em;
    background: #87bcb8;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
    padding-left: 10px;

}
.tab-title{
    position: relative;
    background: gray;
    font-weight: bold;
    line-height: 1px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px ;
    padding-bottom: 15px;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #b8baba;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}
.tab-content p {
  margin-left: 2em;
}
input:checked ~ .tab-content {
  max-height: 10em;
}
label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
input[type=checkbox] + label::after {
  content: "+";
}
input[type=radio] + label::after {
  content: "\25BC";
}
input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}
/*End Tab Formatting*/
.page-content{

}
.main-content{
    position: absolute;
    top: 140px;
    left: 300px;
    height: 550px;
    width: 650px;
    padding-left: 60px;
    background-color: #c3cbd8;
}
#mapid{
    margin-top: 20px;
    width: 600px;
    height:500px;
    border: 20px;
}
div.footer{
    background-color: #163466;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100px;
}
